<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    <h1>Hii</h1>

    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name">
        <input type="file" name="file">
        <input type="submit" name="submit">
    </form>

    <a href="{% url 'updater' %}">Updater</a>



    <br> <br>

    {% for u in data %}
        <p>{{ u.name }}</p>
        <img src="{{ u.fileurl }}" height="200" alt="">
    {% endfor %}

</body>
</html>