<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updater</title>
</head>
<body>
    <form action="{% url 'updatefile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <select name="select">
            {% for n in data %}
            <option value="{{ n.name }}">{{ n.name }}</option>
            {% endfor %}
        </select>
        <input type="file" name="file">
        <input type="submit" name="submit">
    </form>
</body>
</html>